@charset 'UTF-8';

/* 默认样式 */
body,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd{margin:0;padding:0;}
ul,li{list-style: none}
a{text-decoration:none;color:#666;}
a:hover{color:#1dbcdc;}
/* 顶部导航条 */
.topnav{
	background: #252525;
	height: 43px;
	margin:0;
	padding:0;
}
.container{
	width: 1600px;
	color: #fff;
	margin:0 auto;
}
.topnav .container p{
	font:12px/40px '微软雅黑';
}
.topnav .container p>span{
	float: right;
	margin:0 20px;
}
/* 头部和导航 */
header{
	height:105px;
}
header nav{
	padding-top:33px;
	overflow: hidden;
}
header nav .logo{
	width: 147px;
	height: 48px;
	margin:0 0 0 106px;
	float: left;
	background: url(../images/logo.png) no-repeat;
}
header nav ul{
	float: right;
}
header nav ul li{
	line-height: 40px;
	margin-right: 57px;
	float: left;
}
header nav ul li a{
	padding-bottom: 100px;
}
header nav ul li a:hover{
	background: url(../images/nav_bg02.png) no-repeat center -23px;
}
/* 底部 */
footer{
	height: 76px;
	background: #0c0c0c;
}
footer p{
	text-align: center;
	color: #fff;
	font:12px/80px '微软雅黑';
}